@font-face{
    font-family: "Boogaloo-Regular";
    src: url('fonts/Boogaloo-Regular.otf'),
}


.btn-input {
   display: block;
}

.btn-input .btn.form-control {
    text-align: left;
}

.btn-input .btn.form-control span:first-child {
   left: 10px;
   overflow: hidden;
   position: absolute;
   right: 25px;
}

.btn-input .btn.form-control .caret {
   margin-top: -1px;
   position: absolute;
   right: 10px;
   top: 50%;
}
#inputs{
   padding-top: 46px;
   background-color: white;
   border-top-left-radius: 18px;
   border-top-right-radius: 18px;   
   border-left: 2px solid #000000;
   border-right: 2px solid #000000;
   border-top: 2px solid #000000;
}

#factions{
   background-color: white;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 20px;

   border-bottom-left-radius: 18px;
   border-bottom-right-radius: 18px;   
   border-left: 2px solid #000000;
   border-right: 2px solid #000000;
   border-bottom: 2px solid #000000;
}

#players{
   padding-left: 15px;
   padding-right: 15px;
}

.list-group-item{
   margin-top: 10px;
   margin-left: 10px;
   margin-right: 10px;
   height: 100px; 
   line-height: 150px;
   text-align: center;
   font: normal 30px Boogaloo-Regular !important;
   color: #ECECEC;
}

a.list-group-item, button.list-group-item {
    color: #ECECEC;
}

.list-group-item.removed {
  opacity: 0.4;
  color: #000000;
}

.tab-pane {
   padding-left: 5px;
}

#content{
    z-index: 1;
    padding-top: 100px;\
    position: relative;
    opacity: 0.96;
}

.panel-tangy > .panel-heading {
    color: #54301A;
    background-color: #D4804F;
    border-color: #D4804F;
}

.panel-royal > .panel-heading {
    color: #570D73;
    background-color: #AC72D0;
}

#logo{
  z-index: 5;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 34%;
  top: -1%;
}

input, label {
    display:block;
    font: normal 20px Boogaloo-Regular !important;
}

h2, label{
    font: normal 56px Boogaloo-Regular !important;
}

#deal-btn{
  width:150px;
  height: 80px;
  font: normal 30px Boogaloo-Regular !important;
}


/* Faction Card Colours */
#Robots{ 
  background-color: #343442;
}
#Zombies{ 
  background-color: #488A4A;
}
#Pirates{ 
  background-color: #AD2424;
}
#Aliens{ 
  background-color: #9534A7;
}
#Dinosaurs{ 
  background-color: #FFBC00;
}
#Ninjas{ 
  background-color: #101D7D;
}
#Tricksters{ 
  background-color: #3ACC37;
}
#Wizards{ 
  background-color: #4A78FB;
}
#Geeks{ 
  background-color: #000000;
}
/**************************/
#BearCavalry{ 
  background-color: #461B1B;
}
#Ghosts{ 
  background-color: #09A092;
}
#KillerPlants{ 
  background-color: #19A009;
}
#Steampunk{ 
  background-color: #1A4C80;
}
/**************************/
#CyborgApes{ 
  background-color: #D2C31E;
}
#ShapeShifters{ 
  background-color: #D21E9B;
}
#SuperSpies{ 
  background-color: #DC6E44;
}
#TimeTravelers{ 
  background-color: #0BCA9E;
}
/**************************/
#GiantAnts{ 
  background-color: #617A90;
}
#MadScientists{ 
  background-color: #4A296F;
}
#Vampires{ 
  background-color: #D41A1A;
}
#Werewolves{ 
  background-color: #315CA9;
}
/**************************/
#Fairies{ 
  background-color: #B95BD8;
}
#KittyCats{ 
  background-color: #5F3034;
}
#MythicHorses{ 
  background-color: #4C1271;
}
#Princesses{ 
  background-color: #5B7CD8;
}
/**************************/

